<h1>Listing wells</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Field</th>
  </tr>

<% for well in @wells %>
  <tr>
    <td><%= link_to well.name, :action => 'view_data', :id => well.id %></td>
    <td><%= Field.find(well.field_id).name %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add Another Well', new_well_path %>
