<h1>Fields</h1>


<table>
		
<thead>
	<th>Field Name</th>
	<th colspan=2>&nbsp</th>
</thead>
<tr>
<% for field in @fields %>
<td><%=field.name%></td>
<td><a href="/reports/field_report/<%= field.id %>.xml">Download Report</a></td>
<td><a href="/reports/wells/<%= field.id %>">view wells</a></td>
</tr>
<% end %>
</table>