<h1>Wells in <%= @field.name %></h1>

<table>
<thead>
<th>Well Name</th>
<th>&nbsp;</th>
</thead>
<% for well in @wells %>
<tr>
<td><%= well.name%></td>
<td><a href="/reports/well_report/<%= well.id %>.xml">Download Report</a></td>
</tr>

<% end %>
</table>